In [1]:
import pandas as pd
import numpy as np

import pymysql                        
from sqlalchemy import create_engine 
from getpass import getpass

In [2]:
#Establish a connection  between python and the sakila database

In [ ]:
password = getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [ ]:
type(engine)

In [6]:
#Write a Python function called rentals_month

In [ ]:
def rentals_month(engine, month, year):
    query = f'''
    SELECT * 
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    '''
    rentals_df = pd.read_sql_query(query, engine)
    print(f"Retrieved {len(rentals_df)} rentals for {month}/{year}.")
    return rentals_df

In [ ]:
#Python function called rental_count_month

In [ ]:
def rental_count_month(df, month, year):
    count_df = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return count_df

In [ ]:
#Function to compare rentals

In [ ]:
def compare_rentals(df1, df2, month1, year1, month2, year2):
    merged_df = pd.merge(df1, df2, on='customer_id', how='inner')
    merged_df['difference'] = merged_df[f'rentals_{month2:02d}_{year2}'] - merged_df[f'rentals_{month1:02d}_{year1}']
    return merged_df

In [12]:
may_rentals = rentals_month(engine, 5, 2005)
june_rentals = rentals_month(engine, 6, 2005)

may_counts = rental_count_month(may_rentals, 5, 2005)
june_counts = rental_count_month(june_rentals, 6, 2005)

comparison_df = compare_rentals(may_counts, june_counts, 5, 2005, 6, 2005)
comparison_df

Retrieved 1156 rentals for 5/2005.
Retrieved 2311 rentals for 6/2005.

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1                2                7           5
1              2                1                1           0
2              3                2                4           2
3              5                3                5           2
4              6                3                4           1
..           ...              ...              ...         ...
507          594                4                6           2
508          595                1                2           1
509          596                6                2          -4
510          597                2                3           1
511          599                1                4           3

[512 rows x 4 columns]